<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Contacto - BiblioTech</title>
    <style>
        /* Estilos generales */
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 20px;
            color: rgb(0, 0, 0); /* Color del texto */
        }
        .img-container {
            text-align: center;
            max-width: 100%;
            padding: 20px;
            border-radius: 10px;
        }
        img {
            max-width: 100%;
            height: auto;
            display: inline-block;
            border: 1px solid rgba(213, 199, 188, 0.524);
            border-radius: 8px;
        }
        .fondo {
            max-width: 600px;
            margin: 0 auto;
            background-color: rgba(235, 229, 225, 0.524); /* Fondo de color beige */
            padding: 20px;
            border-radius: 10px;
        }
        h2 {
            color: #333;
            font-size: 24px;
            margin-bottom: 10px;
        }
        p {
            margin: 15px 0;
            font-size: 16px;
            color: #333;
        }
    </style>
</head>
<body >


    <div class="fondo">
        <h2>Hola estimado/a {{ nombreCompleto }},</h2>
        <p>&iexcl;Gracias por ponerte en contacto con BiblioTech! Este mensaje confirma que hemos recibido tu solicitud y estamos trabajando para revisarla lo m&aacute;s pronto posible.</p>
        <p>Nos importa tu opini&oacute;n y estamos comprometidos a proporcionarte la mejor atenci&oacute;n. Valoramos tu paciencia mientras trabajamos en tu solicitud.</p>
        <p>Si tienes alguna pregunta adicional o necesitas informaci&oacute;n adicional, no dudes en responder a este correo electr&oacute;nico. Estamos aqu&iacute; para ayudarte.</p>
        <p>&iexcl;Gracias nuevamente por elegir BiblioTech!</p>
        <p>Atentamente,<br>El equipo de BiblioTech</p>
    		<div class="img-container">
            			<img src="https://i.ibb.co/D8XB2JW/pixelcut-export-3.png" alt="Logo de BiblioTech">
        		</a>
    		</div>
    </div>

</body>
</html>